# node_modules - залежності
node_modules/

# логи
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# папки збірок
dist/
build/

# кеші IDE
.vscode/
.idea/

# системні файли
.DS_Store
Thumbs.db

# конфігурації середовищ (якщо в них є секрети)
.env
.env.local
.env.*.local

# lock-файли (якщо не хочеш зберігати)
# package-lock.json
# yarn.lock

# тимчасові файли
*.tmp
*.temp

# coverage звіти (для тестів)
coverage/